{% extends 'index.html' %}

{% block content %}
<section id="about">
    <div class="about-content">
        <h2>Our Idea: Conducting Fashion Trend Analysis</h2>
        <p>
            Conduct a detailed analysis of trends and customer preferences using historical data, and visualize fashion data to forecast upcoming trends and patterns. Trend analysis can assist you in tracking sales analytics without the need for constant monitoring. The Trend Dashboards allow you to view your sales trends and assess your team's performance. Based on historical and current data, the Trend Dashboard showcases key sales metrics as patterns. Sellers can reduce material wastage and produce fewer unsold goods, while consumers can purchase trendy and in-demand products.
        </p>
        <p>
            Here's how detailed and elaborately analyzing data visualizations from datasets can benefit both customers and sellers or retailers:
        </p>
        <ul>
            <li>Helps sellers identify trends and customer preferences.</li>
            <li>Reduces material wastage by producing goods based on demand.</li>
            <li>Enables customers to make informed decisions based on current fashion trends.</li>
        </ul>
    </div>
</section>
{% endblock %}
